body{
    section{
        .cabina1{
            background-color: $color__fondo__3;
            align-items: center;
            display: flex;
            flex-direction: row;
            .cabina1__texto{
                color: white;
                margin: 10px;
                text-align: center;
                font-size: map-get($texto, tamanio__texto);/* maps */
                width: 70%;
            }
        }
        /* Extend */
        .cabina2{
            margin-top: 30px;
            background-color: $color__fondo__3;
            align-items: center;
            display: flex;
            flex-direction: row;
            .cabina2__img{
                @extend .cabina1__img;
            }
            .cabina2__texto{
                color: white;
                margin: 10px;
                text-align: center;
                font-size: map-get($texto, tamanio__texto);/* maps */
                width: 70%;
            }
        }
        .cabina3{
            margin-top: 30px;
            background-color: $color__fondo__3;
            align-items: center;
            display: flex;
            flex-direction: row;
            .cabina3__img{
                @extend .cabina1__img;
            }
            .cabina3__texto{
                color: white;
                margin: 10px;
                text-align: center;
                font-size: map-get($texto, tamanio__texto);/* maps */
                width: 70%;
            }
        }
    /* Extend */
    }
}
@media only screen and (max-width:768px){
    body{
        section{
            .cabina1{
                grid-row: 1/2;
                display: grid;
                grid-template-rows:1fr 1fr;
                grid-template-columns:100%;
                background-image: url(../imagenes/cabina1.jpg);
                height: map-get($texto, tamanio__cont2); /* maps */
                background-repeat: no-repeat;
                background-size: cover;
                .cabina1__img{
                    display: none;
                    @include strech(100%,100%);
                    
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                .cabina1__texto{
                    color: aliceblue;
                    margin: 0px;
                    background-color: rgba(0, 0, 0, 0.8);
                    font-size: 20px;
                    @include strech(100%,100%);
                    grid-row: 2/3;
                    grid-column: 1/2;
                }
            }
            .cabina2{
                margin-top: 20px;
                grid-row: 2/3;
                display: grid;
                grid-template-rows:1fr 1fr;
                grid-template-columns: 100%;
                background-image: url(../imagenes/cabina2.jpg);
                height: map-get($texto, tamanio__cont2);/* maps */
                background-repeat: no-repeat;
                background-size: cover;
                .cabina2__img{
                    display: none;
                    @include strech(100%,100%);
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                .cabina2__texto{
                    color: aliceblue;
                    margin: 0px;
                    font-size: 20px;
                    @include strech(100%,100%);
                    grid-row: 2/3;
                    grid-column: 1/2;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
            .cabina3{
                margin-top: 20px;
                grid-row: 3/4;
                display: grid;
                grid-template-rows:1fr 1fr;
                grid-template-columns: 100%;
                background-image: url(../imagenes/cabina3.jpg);
                height: map-get($texto, tamanio__cont2);/* maps */
                background-repeat: no-repeat;
                background-size: cover;
                .cabina3__img{
                    display: none;
                    @include strech(100%,100%);
                    max-height: 600px;
                    
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                .cabina3__texto{
                    color: aliceblue;
                    margin: 0px;
                    font-size: 20px;
                    @include strech(100%,100%);
                    grid-row: 2/3;
                    grid-column: 1/2;
                    background-color:rgba(0, 0, 0, 0.8); ;
                }
            }
        }
    }
}