body{
    .grilla{
        .ascensores{
            /* height: 600px; */
            width: 100%;
            background-color: $color__fondo__1;
            text-align: center;
            align-items: center;
            display: grid;
            grid-template-columns: 45% 10% 45%;
            grid-row: 1/2;
            .ascensores__img{
                justify-self: stretch;
                height: 100%;
                max-height: auto;
                grid-column: 1/2;
            }
            .ascensores__titulo{
                justify-self: stretch;
                align-items: stretch;
                grid-column: 2/3;
                font-size: $tamanio__titulo;
                transform: rotate(270deg);
            }
            .ascensores__texto{
                justify-self: stretch;
                align-items: stretch;
                font-size: $tamanio__texto;
                grid-column: 3/4;
            }
        }
        .noticias{
            /* height: 600px; */
            background-color: $color__fondo__index__2;
            text-align: center;
            align-items: center;
            display: grid;
            grid-template-columns: 45% 10% 45%;
            grid-row: 2/3;
            .noticias__titulo{
                justify-self: stretch;
                align-items: stretch;
                font-size: $tamanio__titulo;
                transform: rotate(90deg);
                grid-column: 2/3;
            }
            .noticias__img{
                justify-self: stretch;
                height: 100%;
                max-height: 600px;
                grid-column: 3/4;
            }
            .noticias__texto{
                justify-self: stretch;
                align-items: stretch;
                font-size: $tamanio__texto;
            }
        }
        .novedades{
            /* height: 600px; */
            background-color: $color__fondo__1;
            text-align: center;
            align-items: center;
            display: grid;
            grid-template-columns: 45% 10% 45%;
            grid-row: 3/4;
            .novedades__img{
                justify-self: stretch;
                height: 100%;
                max-height: 600px;
                grid-column: 1/2;
            }
            .novedades__titulo{
                justify-self: stretch;
                align-items: stretch;
                /* tamaño de h3 */
                font-size: $tamanio__titulo;
                /* Rotacion de los subtitulos de los articulos */
                transform: rotate(270deg);
                grid-column: 2/3;
            }
            .novedades__texto{
                /* centrado de parrafos y agregado de margenes */
                font-size: $tamanio__texto;
                grid-column: 3/4;
            }
        }
    }
}
@media only screen and (max-width:768px) {
    body{
        .grilla{
            .ascensores{
                display: grid;
                grid-template-rows:repeat(3,auto);
                grid-template-columns: 100%;
                background-image: url(../imagenes/index2.jpg);
                background-size: cover;
                .ascensores__img{
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                .ascensores__titulo{
                    text-align: start;
                    height: 100%;
                    font-size: 30px;
                    grid-row: 2/3;
                    grid-column: 1/2;
                    transform: rotate(0deg);
                    background-color:  $color__fondo__2;
                }
                .ascensores__texto{
                    font-size: 20px;
                    height: 100%;
                    grid-row: 3/4;
                    grid-column: 1/2;
                    background-color:  $color__fondo__2;
                }
            }
            .noticias{
                display: grid;
                grid-template-rows:repeat(3,auto);
                grid-template-columns: 100%;
                background-image: url(../imagenes/index1.jpg);
                background-size: cover;
                .noticias__img{
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                .noticias__titulo{
                    background-color:  $color__fondo__2;
                    text-align: start;
                    height: 100%;
                    font-size: 30px;
                    grid-row: 2/3;
                    grid-column: 1/2;
                    transform: rotate(0deg);
                }
                .noticias__texto{
                    background-color:  rgba(255, 255, 255, 0.5);
                    font-size: 20px;
                    height: 100%;
                    grid-row: 3/4;
                    grid-column: 1/2;
                }
            }
            .novedades{
                display: grid;
                grid-template-rows:repeat(3,auto);
                grid-template-columns: 100%;
                background-image: url(../imagenes/index2.jpg);   
                background-size: cover;
                .novedades__img{
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                .novedades__titulo{
                    background-color:  rgba(255, 255, 255, 0.5);
                    text-align: start;
                    height: 100%;
                    grid-row: 2/3;
                    grid-column: 1/2;
                    transform: rotate(0deg);
                    font-size: 30px;
                }
                .novedades__texto{
                    height: 100%;
                    font-size: 20px;
                    grid-row: 3/4;
                    grid-column: 1/2;
                    background-color:  rgba(255, 255, 255, 0.5);    
                }
            }
        }
    }
}