body{
    section{
        .historia{
            height : 600px;
            .historia__img{
                background-color: white;
                width: 100%;
                height: 400px;
            }
            .historia__titulo{
                background-color: white;
                font-size: 25px;
                /* margin: 10px 0px 10px; */
            }
            .historia__texto{
                background-color: white;
                /* text-align: center; */
                font-size: 20px;
                height: auto;
            }
        }
        .mision{
        width: 100%;
        background-color: white;
        grid-column: 1/2;
            .mision__img{
                display: flex;
                justify-content: left;
                /* background-color: white; */
                /* padding: 0px 0px 30px 30px; */
                width: 100%;
                height: 400px;
            }
            .mision__titulo{
                background-color: white;
                font-size: 30px;
            }
            .mision__texto{
                background-color: white;
                font-size: 20px;
                text-align: center;
                display: flex;
            }
        }   
        .vision{
            grid-column: 3/4;
            width: 100%;
            background-color: white;
            .vision__img{
                display: flex;
                justify-content: right;
                /* padding: 0px 0px 30px 30px; */
                width: 100%;
                height: 400px;
            }
            .vision__titulo{
                font-size: 30px;
            }
            .vision__texto{
                font-size: 20px;
                text-align: center;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:768px){
    body{
        section{
            .historia{
                .historia__texto{
                    font-size: 15px ;
                }
            }
            .mision{
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows:45% 10% 45%;
                grid-row: 1/2;
                background-image:url(../imagenes/SobreNosotros2.jpg);
                .mision__img{
                    display: none;
                }
                .mision__titulo{
                    grid-row: 2/3;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                .mision__texto{
                    grid-row: 3/4;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
            .vision{
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows:45% 10% 45%;
                grid-row: 2/3;
                grid-column: 1/2;
                background-image: url(../imagenes/SobreNosotros3.jpg);
                .vision__img{
                    display: none;
                }
                .vision__titulo{
                    background-color: rgba(255, 255, 255, 0.5);
                    grid-row: 2/3;
                }
                .vision__texto{
                    font-size: 18px;
                    grid-row: 3/4;  
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}