body{
    section{
        .historia{
            height : auto;
            .historia__img{
                background-color: white;
                width: 100%;
                height: auto;
            }
            .historia__titulo{
                background-color: white;
                font-size: map-get($texto, tamanio__titulo);/* maps */
                /* margin: 10px 0px 10px; */
            }
            .historia__texto{
                background-color: white;
                /* text-align: center; */
                font-size: map-get($texto, tamanio__texto);/* maps */
                height: auto;
            }
        }
        .mision{
        width: 100%;
        height: auto;
        background-color: white;
        grid-column: 1/2;
            .mision__img{
                display: flex;
                justify-content: left;
                /* background-color: white; */
                /* padding: 0px 0px 30px 30px; */
                width: 100%;
                /* height: 400px; */
            }
            .mision__titulo{
                background-color: white;
                font-size: map-get($texto, tamanio__titulo);/* maps */
            }
            .mision__texto{
                background-color: white;
                font-size: map-get($texto, tamanio__texto);/* maps */
                text-align: center;
                display: flex;
            }
        }   
        .vision{
            grid-column: 3/4;
            width: 100%;
            height: auto;
            background-color: white;
            .vision__img{
                display: flex;
                justify-content: right;
                /* padding: 0px 0px 30px 30px; */
                width: 100%;
                /* height: 400px; */
            }
            .vision__titulo{
                font-size: map-get($texto, tamanio__titulo);/* maps */
            }
            .vision__texto{
                font-size: map-get($texto, tamanio__texto);/* maps */
                text-align: center;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:768px){
    body{
        section{
            .historia{
                .historia__texto{
                    font-size: map-get($texto, tamanio__texto__768p) ;/* maps */
                }
            }
            .mision{
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(3,auto);
                grid-row: 1/2;
                grid-column: 1/2;
                background-image:url(../imagenes/SobreNosotros2.jpg);
                .mision__img{
                    opacity: 0;
                }
                .mision__titulo{
                    grid-row: 2/3;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                .mision__texto{
                    grid-row: 3/4;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
            .vision{
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(3,auto);
                grid-row: 2/3;
                grid-column: 1/2;
                background-image: url(../imagenes/SobreNosotros3.jpg);
                background-size: cover;
                .vision__img{
                    opacity: 0;
                }
                .vision__titulo{
                    background-color: rgba(255, 255, 255, 0.5);
                    grid-row: 2/3;
                }
                .vision__texto{
                    grid-row: 3/4;  
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}