/* Texto */
$tamanio__texto: 25px;
$tamanio__cont: 600px; /* cont=contenedor */
$tamanio__cont2: 700px; /* cont=contenedor */
$tamanio__titulo:40px;
$tamanio__texto__768p:20px;
$tamanio__titulo__768p:30px;
/* Colores */
$color__fondo__1:rgba(118, 165, 175, 0.9);
$color__fondo__index__2:rgba(45, 82, 90, 0.9);
$color__fondo__2:rgba(255, 255, 255, 0.5);
$color__fondo__3:rgba( 0, 0, 0, 0.6);